<app-header></app-header>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-8" id="country_form">
      <div class="input-group">
        <select name="country_select" class="form-control" id="country_select" [(ngModel)]="currentLocation">
          <option *ngFor="let location of defaultLocations" [value]="location.country_woeid">{{location.country_name}}</option>
          <option *ngFor="let location of savedLocations" [value]="location.country_woeid">{{location.country_name}}</option>
        </select>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="openAddLocationModal()">Add</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-8">
      <button type="submit" class="btn btn-primary btn-block fetch-btn" (click)="startTimer()" [disabled]="isLoading">
        {{isLoading ? 'FETCHING ...' : 'FETCH TRENDS'}}
      </button>
    </div>
  </div>

  <hr>

  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let trend of trends | async">
      {{trend.name}}
      <span class="badge badge-primary badge-pill">{{trend.tweet_volume}}</span>
    </li>
  </ul>


</div>


<app-footer></app-footer>