<footer class="text-muted">
  <div class="container text-center">
    <p>Twitter Trends &copy; Touqeer Shafi <a href="mailto:touqeer.shafi@gmail.com">touqeer.shafi@gmail.com</a></p>
  </div>
</footer>