<div class="modal-header">
  <h4 class="modal-title pull-left">Add Modal</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="countryForm">
    <div class="form-group">
      <label for="country_name">Country Name</label>
      <input type="text" class="form-control" [ngClass]="{'is-invalid' : !countryForm.controls['country_name'].valid && countryForm.controls['country_name'].dirty}" name="country_name" formControlName="country_name" id="country_name" placeholder="Enter country name">
    </div>
    <div class="form-group">
      <label for="country_woeid">Country WOEID</label>
      <input type="text" class="form-control" [ngClass]="{'is-invalid' : !countryForm.controls['country_woeid'].valid && countryForm.controls['country_woeid'].dirty}" name="country_woeid" id="country_woeid" formControlName="country_woeid" placeholder="WOEID">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="onSubmit($event)">Save</button>
</div>